@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  color: #fff;
}

.masthead {
  background-image: url("../images/gummyworms.jpg");
  background-size: 1000px;
  color: #fff;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: #f04f71;
  padding: .75em;
  border-radius: 8px;
}

nav a:hover {
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
  color: #f04f71;
  background-color: #fff;
}

.assortments {
  background-color: #fdb8ca;
}

.chocolate {
  background-color: #fe976c;
}

.gum {
  background-color: #e9da63;
}

.gummies {
  background-color: #8ecc8b;
}

.hardcandy {
  background-color: #8dcfe7;
}

.sprinkles {
  background-color: #bea8f6;
}

img {
  width: 50%;
}
